<strong>Olá, {{deliveryman}} </strong>
<p>Existe uma nova entrega cadastrada para você.</p>
<p>Bom Trabalho!</p>
<strong> ENDEREÇO</strong><br/>
<strong> Rua:</strong> {{street}}<br/>
<strong> Numero:</strong> {{number}}<br/>
<strong> Bairro:</strong> {{complement}}<br/>
<strong> Cidade:</strong> {{city}}<br/>
<strong> Estado:</strong> {{state}}<br/>
<strong> Cep:</strong> {{cep}}<br/>

<br />
